html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, img, small, strong, sub, sup, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    outline: none
}

a:hover {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: none;
    outline: none
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

input[type=button], input[type=text], input[type=password], button, textarea {
    -webkit-appearance: none;
    outline: none
}

.imgBox{
    overflow: hidden;
    display: block;
    width: 100%;
}
.imgBox img{
    width: 100%;
}
.articleHead{
    padding: 20px 20px 10px 20px;
    text-align: right;
}
.articleClass{
   padding-bottom: 10px;
}
.articleClass span{
    border-bottom: 2px solid;
    color: #3F3E4C;
    font-size: 1rem;
    font-weight: bold;
}
.articleTitle{
    font-weight: bold;
    color: #3F3E4C;
    font-size: 2rem;
}
.authorName{
    color: #3F3E4C;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0;
}
.articleHead .date{
    color: #3F3E4C;
    font-size: 0.85rem;
}
.summary{
    background: rgba(229, 230, 231, 0.2);
    padding: 10px;
    font-size: 0.85rem;
    color: #3F3E4C;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.articleContent{
    overflow: hidden;
}
.subscribeBox{
    overflow: hidden;
    margin-top: -9rem;
    z-index: 1;
    position: relative;
}
.subscribeBorderTop{
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,1));
    min-height: 3rem;
}
.subscribeTitle{
    color: #3F3E4C;
    background: #fff;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.subscribeTitle h1{
    font-size: 1rem!important;
    color: #3F3E4C;
    font-weight: 400;
    margin: 20px 0;
}
.subscribeTitle h2{
    font-size: 1rem!important;
    color: #3F3E4C;
    font-weight: 300;
}
.subscribeTitle a{
    color: #D7A03C;
    font-size: 1rem;
    padding: 20px 0;
    display: inline-block;
}
.subscribeTitle img{
    width: 30% !important;
    display: block;
    margin: 0 auto;
}
.subscribeContent{
    background: #222222;
    padding: 20px;
    overflow: hidden;
}
.subscribeBox .priceInfo{
    color: #fff;
    font-size: 1rem;
    border-top: 1px solid #3a3a3a;
    border-bottom:1px dashed #3a3a3a;
    padding: 20px 0;
}
.subscribeBox .priceInfo span{
    background: #3c3425;
    color: #d7a03c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 0 6px;
    margin: 0 5px;
    line-height:2rem;
}
.subscribeBox .subscribeText{
    line-height: 150%;
    color: #656565;
    font-size: 0.8rem;
    padding-top: 20px;
}
.authorBox{
    overflow: hidden;
    background:#E5E6E7;
    padding: 20px;
    position: relative;
}
.authorInfo{
    width: 40%;
    padding: 0 5%;
}
.authorInfo h1{
    font-size: 1.4rem;
    color: #303042;
}
.authorInfo h2{
    font-size: 1rem;
    color: #303042;
    font-weight: 300;
    margin-top: 20px;
}
.authorBox.left .authorInfo{
    float: left;
}
.authorBox.left .authorInfo h1,.authorBox.left .authorInfo h2{
    text-align: right;
}
.authorBox.right .authorInfo{
    float: right;
}
.authorBox.right .authorInfo h1,.authorBox.right .authorInfo h2{
    text-align: left;
}
.authorPhoto{
    width: 50%;
    float: left;
}
.authorPhoto img{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.periodicalBox{
    overflow: hidden;
}
.periodicalCover{
    overflow: hidden;
}
.periodicalCover img{
    width: 100%;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}
.periodicalContent{
    overflow: hidden;
    padding: 20px;
    text-align: right;
}
.periodicalContent h1{
    font-size: 1.2rem;
    font-weight: 400;
}
.periodicalContent h2{
    font-size: 1rem;
    font-weight: 300;
}
.footerOperation{
    position: fixed;
    bottom: 5vh;
    left: 0;
    width: 100%;
    z-index: 99;
}
.footerOperationContent{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footerOperationContent a{
    display: inline-block;
    width: 10vw;
    height: 10vw;
}
.footerOperationContent a.return{
    background: url("../img/return-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent a.collect{
    background: url("../img/collect-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent a.collect-on{
    background: url("../img/collect-on.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent a.link{
    background: url("../img/share-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent a.top{
    background: url("../img/top-icon.png") no-repeat;
    background-size: 100% 100%;
}