<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmtt.base.mapper.LbPeriodicalMapper">

    <resultMap id="resultLbPeriodicalMap" type="com.cmtt.base.entity.LbPeriodical">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="tcode" column="tcode"></result>
        <result property="imgUrl" column="img_url"></result>
        <result property="recommend" column="recommend"></result>
        <result property="status" column="status"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="createTime" column="create_time"></result>
        
        <collection property="lbPostList" ofType="com.cmtt.base.entity.LbPost" column="periodicalId">
            <id property="id" column="pid"></id>
            <result property="periodicalId" column="periodical_id"></result>
            <result property="title" column="ptitle"></result>
            <result property="description" column="description"></result>
            <result property="postSubjectId" column="post_subject_id"></result>
            <result property="postSubject" column="post_subject"></result>
            <result property="postCatalog" column="post_catalog"></result>
            <result property="showType" column="show_type"></result>
            <result property="imgUrl" column="pimg_url"></result>
            <result property="linkUrl" column="plink_url"></result>
            <result property="themeInfo" column="theme_info"></result>
            <result property="author" column="author"></result>
            <result property="postOrder" column="post_order"></result>
            <result property="publishedAt" column="published_at"></result>
            <result property="praiseCount" column="praise_count"></result>
            <result property="recordCount" column="record_count"></result>
            <result property="readCount" column="read_count"></result>
            <result property="recommend" column="precommend"></result>
            <result property="status" column="pstatus"></result>
            <result property="updateTime" column="pupdate_time"></result>
            <result property="createTime" column="pcreate_time"></result>

        </collection>
        
    </resultMap>

    <select id="getLbPostList" resultMap="resultLbPeriodicalMap" parameterType="int">

select a.id,a.title,a.tcode,a.img_url,a.recommend,a.status,a.update_time,a.create_time,
b.id as pid,b.periodical_id ,b.title as ptitle,b.description,b.post_subject_id,b.post_subject,
b.post_catalog,b.show_type,b.img_url as pimg_url,b.link_url,b.theme_info,b.author,b.post_order,
b.published_at,b.praise_count,b.record_count,b.read_count,b.recommend as precommend,b.status as pstatus,
b.update_time as pupdate_time,b.create_time as pcreate_time
from lb_periodical as a,lb_post as b where a.id = b.periodical_id
    </select>


    
</mapper>
