<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>[[${lbPost.title}]]</title>
    <link rel="stylesheet" type="text/css" href="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/css/style.css">
    <script src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/js/jquery-1.11.3.min.js"></script>
    <script>
        function paySuccess(value){
                console.log(value);
        }
        function userTokenFromClient(value){
                console.log(value);
        }
        $(document).ready(function () {
            var u = navigator.userAgent;
            if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//android
                var top = 0,
                    bottom = 0;
                $(window).scroll(function () {
                    top = $(this).scrollTop();
                    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                        $('.footerOperation').fadeIn()
                    } else if (bottom < top) {
                        $('.footerOperation').fadeOut()
                    } else {
                        $('.footerOperation').fadeIn()
                    }
                    setTimeout(function () {
                        bottom = top
                    }, 0)
                });
            } else {//ios隐藏底部操作栏
                $('.footerOperation').hide()
            }
            $('.authorBoxList').children('.authorBox:even').addClass('left');
            $('.authorBoxList').children('.authorBox:odd').addClass('right');
            $(".top").click(function() {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
            $('.collect').click(function () {
                $(this).toggleClass('collect-on')
            });
			$('.pay_499').on('click',function(event) { //支付跳转499
                window.location.href="aves://pay?usertype=2";
            });
			$('.pay_4_99').on('click',function(event) { //支付跳转4.99
                window.location.href="aves://pay?usertype=1";
            });
			$('.post_subject').on('click',function(event) { //栏目跳转
                window.location.href="aves://category?id=1";
            });
			$('.link').on('click',function(event) { //分享
                window.location.href="aves://share";
            });
			$('.authorPhoto').on('click',function(event) { //作者
                window.location.href="aves://author?id=1";
            });
			$('.return').on('click',function(event) { //关闭页面
                window.location.href="aves://finish";
                //window.location.href="aves://getUserToken";
            });
            //返回页面定位阅读位置
            var windowTop=$(window).scrollTop();
            $("html,body").animate({ scrollTop: windowTop},1);
            $("html,body").animate({ scrollTop: $().offset().top-$().height()});
        })
    </script>
</head>
<body class="day_mode">
<div class="imgBox">
    <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/img1.png">
</div>
<div class="articleHead">
    <div class="articleClass">
        <span style="border-bottom-color: #CE404E">[[${lbPost.postCatalog}]]</span>
    </div>
    <div class="articleTitle">
        [[${lbPost.title}]]
    </div>
    <div class="authorName">
        <span>
        <span th:each="c, State : ${lbAuthorList}" th:remove="tag">
            <div th:text="${c.name}" th:remove="tag"></div>
        </span>
        </span>
         | <span class="post_subject">[[${lbPost.postSubject}]]</span>
    </div>
    <div class="date"><span th:text="${#temporals.format(lbPost.publishedAt,'MM-dd')}"></span></div>
    <div class="summary">
        [[${lbPost.description}]]
    </div>
</div>
<div class="articleBox small"><!--字号small middle large-->
    <div class="freeArticleContent">
        <p th:utext="${lbPost.content}"></p>
        <div class="subscribeBox">
            <div class="subscribeBorderTop"></div>
            <div class="subscribeTitle">
                <div>
                    <h1>付费后，可阅读余下内容</h1>
                    <h2>你目前剩余 3 篇文章的兑换资格</h2>
                    <a href="javascript:;">兑换本文</a>
                </div>
            </div>
            <div class="subscribeContent">
                <div class="showInfo">
                    <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/subscribe-bg.png">
                </div>
                <div class="priceInfo">《小鸟Aves》付费阅读，全年十二卷定价<span>￥588</span>，试读三篇价格<span>￥12</span></div>
                <div class="subscribeText">
                    *我们一年大概更新300篇文章<br>
                    **别算了，我们这俩价格其实是一样的，没啥折扣
                </div>
            </div>
        </div>
    </div>
    <div class="articleContent">
        <p th:utext="${lbPost.feeContent}"></p>
    </div>
</div>
<div class="authorBoxList">
    <div class="authorBox" th:each="c, State : ${lbAuthorList}">
        <div class="authorInfo">
            <h1 th:text="${c.name}"></h1>
            <h2 th:text="${c.introduction}"></h2>
        </div>
        <div class="authorPhoto">
            <img th:src="${c.imgUrl}">
        </div>
    </div>

</div>
<div class="footerOperation">
    <div class="footerOperationContent">
        <a class="return"></a>
        <a class="collect"></a>
        <a class="link"></a>
        <a class="top"></a>
    </div>
</div>
</body>
</html>
