<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>[[${lbPost.title}]]</title>
    <link rel="stylesheet" type="text/css" href="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/css/style.css">
    <script src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/js/jquery-1.11.3.min.js"></script>
    <style>
        pre.ql-syntax{
            background:url('https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/summary_icon.png') no-repeat 20px 20px rgba(229, 230, 231, 0.2);
            background-size: 10%;
            min-height: 10%;
            text-align: right;
            padding: 20px;
            font-size:1.6rem;
            font-weight: 400;
            margin: 0;
        }
        blockquote{
            text-align: right;
            color: #767676;
            font-size: 0.8rem;
            background: rgba(229, 230, 231, 0.2);
            margin: 0;
            padding:0 20px 20px 20px;
        }
        .articleContent h1{
            font-size: 1.6rem;
            text-align: right;
            padding:0 20px;
        }
    </style>
    <script>
        function paySuccess(value){
                console.log(value);
        }
        function userTokenFromClient(value){
                console.log(value);
        }
        $(document).ready(function () {
            $('.authorBoxList').children('.authorBox:even').addClass('left');
            $('.authorBoxList').children('.authorBox:odd').addClass('right');
            $(".top").click(function() {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
            var top = 0,
                bottom = 0;
            $(window).scroll(function(){
                top = $(this).scrollTop();
                if($(window).scrollTop() + $(window).height() == $(document).height()){
                    $('.footerOperation').fadeIn()
                }
                else if(bottom < top){
                    $('.footerOperation').fadeOut()
                }else{
                    $('.footerOperation').fadeIn()
                }
                setTimeout(function(){
                    bottom = top
                }, 0)
            });
            $('.collect').click(function () {
                $(this).toggleClass('collect-on')
            });
            //返回页面定位阅读位置
            $('[data-link]').on('click',function(event) { //阻止默认跳转行为，阻止冒泡
                event.preventDefault();
                event.stopPropagation();
                savePage();
                window.location.href=$(this).attr('data-link');
            });
			$('.pay_499').on('click',function(event) { //支付跳转499

                window.location.href="aves://pay?usertype=2";
            });
			$('.pay_4_99').on('click',function(event) { //支付跳转4.99
                ;
                window.location.href="aves://pay?usertype=1";
            });
			$('.post_subject').on('click',function(event) { //栏目跳转

                window.location.href="aves://category?id=1";
            });
			$('.link').on('click',function(event) { //分享

                window.location.href="aves://share";
            });
			$('.authorPhoto').on('click',function(event) { //作者

                window.location.href="aves://author?id=1";
            });
			$('.return').on('click',function(event) { //关闭页面

                window.location.href="aves://finish";
                //window.location.href="aves://getUserToken";
            });
            function savePage(){  //操作浏览器的历史记录
                history.replaceState('', document.title, location.href.replace(location.hash, "") + "#nowTop=" + $(window).scrollTop());
            }

            //跳转后的判断
            if ($('wrap').height() > nowTop) {
                scrollTo(0, nowTop);
             }
        })
    </script>
</head>
<body class="day_mode">
<div class="imgBox">
    <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/img1.png">
</div>
<div class="articleHead">
    <div class="articleClass">
        <span style="border-bottom-color: #CE404E">[[${lbPost.postCatalog}]]</span>
    </div>
    <div class="articleTitle">
        [[${lbPost.title}]]
    </div>
    <div class="authorName">
        <span>[[${lbPost.author}]]</span> | <span class="post_subject">[[${lbPost.postSubject}]]</span>
    </div>
    <div class="date"><span th:text="${#temporals.format(lbPost.publishedAt,'MM-dd')}"></span></div>
    <div class="summary">
        [[${lbPost.description}]]
    </div>
</div>
<div class="articleBox small"><!--字号small middle large-->
    <div class="freeArticleContent">
        <p th:utext="${lbPost.content}"></p>
        <div class="subscribeBox">
            <div class="subscribeBorderTop"></div>
            <div class="subscribeTitle">
                <div>
                    <h1>付费后，可阅读余下内容</h1>
                    <h2>你目前剩余 3 篇文章的兑换资格</h2>
                    <a href="javascript:;">兑换本文</a>
                </div>
            </div>
            <div class="subscribeContent">
                <div class="showInfo">
                    <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/subscribe-bg.png">
                </div>
                <div class="priceInfo">《小鸟Aves》付费阅读，全年十二卷定价<span>￥499</span>，试读三篇价格<span>￥4.99</span></div>
                <div class="subscribeText">
                    *我们一年大概更新300篇文章<br>
                    **别算了，我们这俩价格其实是一样的，没啥折扣
                </div>
            </div>
        </div>
    </div>
    <div class="articleContent">
        <p th:utext="${lbPost.feeContent}"></p>
    </div>
</div>
<div class="authorBoxList">
    <div class="authorBox">
        <div class="authorInfo">
            <h1>吉井忍</h1>
            <h2>日籍华语作家 她一直致力于在美食、书店、生活的领域的写作。她还有一个更深的愿望是，利用华语作家身份促进中日文化交流。</h2>
        </div>
        <div class="authorPhoto">
            <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/img3.png">
        </div>
    </div>
    <div class="authorBox">
        <div class="authorInfo">
            <h1>吉井忍</h1>
            <h2>日籍华语作家 她一直致力于在美食、书店、生活的领域的写作。她还有一个更深的愿望是，利用华语作家身份促进中日文化交流。</h2>
        </div>
        <div class="authorPhoto">
            <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/img3.png">
        </div>
    </div>
    <div class="authorBox">
        <div class="authorInfo">
            <h1>吉井忍</h1>
            <h2>日籍华语作家 她一直致力于在美食、书店、生活的领域的写作。她还有一个更深的愿望是，利用华语作家身份促进中日文化交流。</h2>
        </div>
        <div class="authorPhoto">
            <img src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/img/img3.png">
        </div>
    </div>
</div>
<div class="footerOperation">
    <div class="footerOperationContent">
        <a class="return"></a>
        <a class="collect"></a>
        <a class="link"></a>
        <a class="top"></a>
    </div>
</div>
</body>
</html>
