<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>[[${lbPost.title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="${domainPath}+'common/css/style.css'">
    <script th:src="${domainPath}+'common/js/jquery-1.11.3.min.js'"></script>
    <script>

            function authorClick(value){
             window.location.href="aves://author?id="+value;
            }

            function subjectClick(value){
             window.location.href="aves://category?id="+value;
            }

        function paySuccess(value){


        }
        function userTokenFromClient(value){
                console.log(value);
        }
        $(document).ready(function () {
            $('.articleBox img').parent('p').css({"padding":"0"});

            var u = navigator.userAgent;
            if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//android
                var top = 0,
                    bottom = 0;
                $(window).scroll(function () {
                    top = $(this).scrollTop();
                    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                        $('.footerOperation').show()
                    } else if (bottom < top) {
                        $('.footerOperation').hide()
                    } else if($(this).scrollTop()==0){
                        $('.footerOperation').hide()
                    } else {
                        $('.footerOperation').show()
                    }
                    setTimeout(function () {
                        bottom = top
                    }, 0)
                });
            } else {//ios隐藏底部操作栏
                $('.footerOperation').hide()
            }
            $('.authorBoxList').children('.authorBox:even').addClass('left');
            $('.authorBoxList').children('.authorBox:odd').addClass('right');
            $(".top").click(function() {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
            $('.collect').click(function () {
                //$(this).toggleClass('collect-on')

                if($('#iscollect').val()==='false'){
                    //点击收藏
                    window.location.href="aves://addcollection";
                    $('#iscollect').val(true)
                    $(this).addClass('collect-on'); // 追加样式
                }else{
                     //点击取消收藏
                     window.location.href="aves://delcollection";
                     $('#iscollect').val(false)
                     $(this).removeClass('collect-on'); //移除
                }

            });
			$('.pay_499').on('click',function(event) { //支付跳转499
                window.location.href="aves://pay?tcode=avesproduct30001";
            });
			$('.pay_4_99').on('click',function(event) { //支付跳转4.99
                window.location.href="aves://pay?tcode=avesproduct10001";
            });
			$('.link').on('click',function(event) { //分享
                window.location.href="aves://share";
            });

			$('.return').on('click',function(event) { //关闭页面
                window.location.href="aves://finish";
                //window.location.href="aves://getUserToken";
            });

            $('.exchangecss').on('click',function(event) { //兑换
                window.location.href="aves://exchange";
            });
            //返回页面定位阅读位置
            //滚动时保存滚动位置
            $(window).scroll(function(){
                if($(document).scrollTop()!=0){
                    window.localStorage.setItem(window.location.href+"_offsetTop", $(window).scrollTop());
                }
            });
            //onload时，取出并滚动到上次保存位置
            window.onload = function(){
                var offset = window.localStorage.getItem(window.location.href+"_offsetTop");
                $(document).scrollTop(offset);
            };
        })
    </script>
</head>
<body class="day_mode">
<div class="imgBox">
    <img th:src="${lbPost.preimgUrl}">
</div>
<div class="articleHead">
    <div class="articleClass">
        <span th:style="'border-bottom-color: '+${lbPost.tcolor}">[[${lbPost.postCatalog}]]</span>
    </div>
    <div class="articleTitle">
        [[${lbPost.title}]]
    </div>
    <div class="authorName">
        <span>
        <span th:each="c, State : ${lbAuthorList}" th:remove="tag">
            <div th:text="${c.name}" th:remove="tag"></div>
        </span>
        </span>
        <span class="post_subject" th:onclick="'javascript:subjectClick('+${lbPost.postSubjectId}+')'">[[${lbPost.postSubject}]]</span>
    </div>
    <div class="date"><span th:text="${SocialDate}"></span></div>
    <div class="summary">
        [[${lbPost.description}]]
    </div>
</div>
<div class="articleBox small"><!--字号small middle large-->
    <div class="freeArticleContent">
        <p th:utext="${lbPost.content}"></p>
        <div class="subscribeBox" th:if="${isDisplay} == false">
            <div class="subscribeBorderTop"></div>
            <div class="subscribeTitle" th:if="${isPayOne} == false">
                <div>
                    <h1>付费后，可阅读余下内容</h1>
                    <div th:if="${PayOneCount} >0">
                        <h2 >你目前剩余 [[${PayOneCount}]] 篇文章的兑换资格</h2>
                        <span class="exchangecss">兑换本文</span>
                    </div>
                </div>
            </div>
            <div class="subscribeContent" th:if="${isPayOne} == false">
                <div class="showInfo">
                    <img th:src="${domainPath}+'common/img/subscribe-bg.png'">
                </div>
                <div class="priceInfo">《小鸟Aves》付费阅读，全年十二卷定价<span class="pay_499">￥588</span>，试读三篇价格<span class="pay_4_99">￥12</span></div>
                <!-- <a href="javascript:getFeeContent('{"code":200,"timestamp":"1608123869044","_headers":"","message":"请求成功","result":{"id":1,"periodicalId":2,"periodicalTitle":"11月第三期","title":"一个南方鱼村里最荡漾的时刻","content":"收费内容","shareTitle":"分享标题","shareContent":"分享内容","description":"“不如买块豆腐，吃死算了。”大老白说。","postSubjectId":1,"postSubject":"媒体往事","postCatalogId":1,"tcolor":"#777777","postCatalog":"非虚构","showType":1,"imgUrl":"https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/images/1607525312124.png","linkUrl":"7","themeInfo":"8","author":"","postOrder":"0","publishedAt":"2020-11-21 15:14:24","praiseCount":111,"recordCount":121,"readCount":131,"recommend":1,"status":100,"updateTime":"2020-12-15 01:01:00","createTime":"2020-11-20 23:13:19"}');">测试购买完成</a> -->
                <div class="subscribeText">
                    *我们一年大概更新300篇文章<br>
                </div>
            </div>
        </div>
    </div>
    <div class="articleContent">
        <div th:utext="${lbPost.feeContent}" th:remove="tag"></div>
    </div>
</div>
<div class="authorBoxList">
    <div class="authorBox" th:each="c, State : ${lbAuthorList}">
        <div class="authorInfo">
            <h1 th:text="${c.name}"></h1>
            <h2 th:text="${c.introduction}"></h2>
        </div>
        <div class="authorPhoto" th:onclick="'javascript:authorClick('+${c.id}+')' ">
            <img th:src="${c.imgUrl}">
        </div>
    </div>

</div>
<div class="footerOperation">
    <div class="footerOperationContent">
        <i class="return"></i>
        <i class="collect" th:classappend="${isCollect}? 'collect-on'"><input id="iscollect" name="iscollect" th:value="${isCollect}" type="hidden" /></i>
        <i class="link"></i>
        <i class="top"></i>
    </div>
</div>
</body>
</html>
