<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>隐私协议</title>
    <link rel="stylesheet" type="text/css" href="https://littlebird-cos-1304137331.cos.ap-shanghai.myqcloud.com/common/css/style.css">
    <script src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/js/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.return').hide();
            $('.sectionBox').on('click',function () {
                $('.return').toggle();
            });
            $('.return').on('click',function(event) { //关闭页面
                window.location.href="aves://finish";
                //window.location.href="aves://getUserToken";
            });
        })
    </script>
    <style>
        body{
            padding: 20px;
            background: #E6E7E8;
            margin: 0;
            font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
        }
        h1{
            font-size: 1.2rem;
            color: #3F3E4C;
            text-align: center;
            padding: 10px 0;
        }
        h2{
            font-size: 1rem;
            color: #3F3E4C;
            font-weight: normal;
            line-height: 187.25%;
        }
        h3{
            font-size: 1rem;
            color: #3F3E4C;
            line-height: 187.25%;
            padding: 1rem 0;
        }
    </style>
</head>
<body>
<div class="sectionBox">
    <h1>用户隐私协议</h1>
    <h2>《⼩⻦⽂学》（以下称“本应⽤”）是由上海⼩乌⽂化传播有限公司提供的信息服务。
        本应⽤尊重并保护所有使⽤服务⽤户的个⼈隐私权。为了给您提供更准确、更
        有个性化的服务，本应⽤会按照本隐私权政策的规定使⽤和披露您的个⼈信
        息。但本应⽤将以⾼度的勤勉、审慎义务对待这些信息。除本隐私权政策另有
        规定外，在未征得您事先许可的情况下，本应⽤不会将这些信息对外披露或向
        第三⽅提供。本应⽤会不时更新本隐私权政策。 您在同意本应⽤服务使⽤协议
        之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于本应⽤服
        务使⽤协议不可分割的⼀部分。</h2>
    <h3>1. 适用范围</h3>
    <h2>a) 在您注册本应⽤帐号时，您根据本应⽤要求提供的个⼈注册信息；</h2>
    <h2>b) 在您使⽤本应⽤⽹络服务，或访问本应⽤平台⽹页时，本应⽤⾃动接收并记录的您的浏览
        器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使⽤的语⾔、访问⽇期和
        时间、软硬件特征信息及您需求的⽹页记录等数据；</h2>
    <h2>c) 本应⽤通过合法途径从商业伙伴处取得的⽤户个⼈数据</h2>
    <h2>您了解并同意，以下信息不适⽤本隐私权政策：</h2>
    <h2>a) 您在使⽤本应⽤平台提供的搜索服务时输⼊的关键字信息；</h2>
    <h2>b) 本应⽤收集到的您在本应⽤发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；</h2>
    <h2>c) 违反法律规定或违反本应⽤规则⾏为及本应⽤已对您采取的措施。</h2>
    <h3>2. 信息使用</h3>
    <h2>a) 本应⽤不会向任何⽆关第三⽅提供、出售、出租、分享或交易您的个⼈信息，除⾮事先得
        到您的许可，或该第三⽅和本应⽤（含本应⽤关联公司）单独或共同为您提供服务，且在该
        服务结束后，其将被禁⽌访问包括其以前能够访问的所有这些资料。</h2>
    <h2>b)  本应⽤亦不允许任何第三⽅以任何⼿段收集、编辑、出售或者⽆偿传播您的个⼈信息。任
        何本应⽤平台⽤户如从事上述活动，⼀经发现，本应⽤有权⽴即终⽌与该⽤户的服务协议。</h2>
    <h2>c) 为服务⽤户的⽬的，本应⽤可能通过使⽤您的个⼈信息，向您提供您感兴趣的信息，包括
        但不限于向您发出产品和服务信息，或者与本应⽤合作伙伴共享信息以便他们向您发送有关
        其产品和服务的信息（后者需要您的事先同意）。</h2>
    <h3>3. 信息披露</h3>
    <h2>在如下情况下，本应⽤将依据您的个⼈意愿或法律的规定全部或部分的披露您的个⼈信息：</h2>
    <h2>a) 经您事先同意，向第三方披露；</h2>
    <h2>b) 为提供您所要求的产品和服务，⽽必须和第三⽅分享您的个⼈信息；</h2>
    <h2>c) 根据法律的有关规定，或者⾏政或司法机构的要求，向第三⽅或者⾏政、司法机构披露；</h2>
    <h2>d) 如您出现违反中国有关法律、法规或者本应⽤服务协议或相关规则的情况，需要向第三⽅
        披露；</h2>
    <h2>e) 如您是适格的知识产权投诉⼈并已提起投诉，应被投诉⼈要求，向被投诉⼈披露，以便双
        ⽅处理可能的权利纠纷；</h2>
    <h2>f) 在本应⽤平台上创建的某⼀交易中，如交易任何⼀⽅履⾏或部分履⾏了交易义务并提出信
        息披露请求的，本应⽤有权决定向该⽤户提供其交易对⽅的联络⽅式等必要信息，以促成交
        易的完成或纠纷的解决。</h2>
    <h2>g) 其它本应⽤根据法律、法规或者⽹站政策认为合适的披露。</h2>
    <h3>4. 信息存储和交换</h3>
    <h2>本应⽤收集的有关您的信息和资料将保存在本应⽤及（或）其关联公司的服务器上，这些信
        息和资料可能传送⾄您所在国家、地区或本应⽤收集信息和资料所在地的境外并在境外被访
        问、存储和展⽰。</h2>
    <h3>5. Cookie的使用</h3>
    <h2>a) 在您未拒绝接受cookies的情况下，本应⽤会在您的计算机上设定或取⽤cookies ，以便您
        能登录或使⽤依赖于cookies的本应⽤平台服务或功能。本应⽤使⽤cookies可为您提供更加周
        到的个性化服务，包括推⼴服务。</h2>
    <h2>b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的⽅式拒绝接受
        cookies。但如果您选择拒绝接受cookies，则您可能⽆法登录或使⽤依赖于cookies的本应⽤
        ⽹络服务或功能。</h2>
    <h2>c) 通过本应用所设cookies所取得的有关信息，将适用本政策。</h2>
    <h3>6. 信息安全</h3>
    <h2>a) 本应⽤帐号均有安全保护功能，请妥善保管您的⽤户名及密码信息。本应⽤将通过对⽤户
        密码进⾏加密等安全措施确保您的信息不丢失，不被滥⽤和变造。尽管有前述安全措施，但
        同时也请您注意在信息⽹络上不存在“完善的安全措施”。</h2>
    <h2>b) 在使⽤本应⽤⽹络服务进⾏⽹上交易时，您不可避免的要向交易对⽅或潜在的交易对⽅披
        露⾃⼰的个⼈信息，如联络⽅式或者邮政地址。请您妥善保护⾃⼰的个⼈信息，仅在必要的
        情形下向他⼈提供。如您发现⾃⼰的个⼈信息泄密，尤其是本应⽤⽤户名及密码发⽣泄露，
        请您⽴即联络本应⽤客服，以便本应⽤采取相应措施。</h2>
    <h2>c) 我们的产品集成友盟+SDK，友盟+SDK需要收集您的设备Mac地址、唯一设备识别码（IMEI/android ID/IDFA/OPENUDID/GUID、SIM 卡 IMSI 信息）以提供统计分析服务，并通过地理位置校准报表数据准确性，提供基础反作弊能力。</h2>
</div>
<div class="footerOperation">
    <div class="footerOperationContent">
        <i class="return"></i>
    </div>
</div>
</body>
</html>
