<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>[[${lbPost.title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="${domainPath}+'common/css/style.css'">
    <script th:src="${domainPath}+'common/js/jquery-1.11.3.min.js'"></script>
    <script>
        $(document).ready(function () {
            $('.authorBoxList').children('.authorBox:even').addClass('left');
            $('.authorBoxList').children('.authorBox:odd').addClass('right');

            $('.open_down').on('click',function(event) { //打开或者跳转
                window.location.href="https://share.aves.art/avesapp/articledetail?id=[[${lbPost.id}]]";
                // window.location.href="aves://index?id=[[${lbPost.id}]]";
                window.location.href="/page/app_download" //Android下载地址
            });
        })
    </script>
</head>
<body class="day_mode">
<div class="imgBox">
    <img th:src="${lbPost.preimgUrl}">
</div>
<div class="articleHead">
    <div class="articleClass">
        <span th:style="'border-bottom-color: '+${lbPost.tcolor}">[[${lbPost.postCatalog}]]</span>
    </div>
    <div class="articleTitle">
        [[${lbPost.title}]]
    </div>
    <div class="authorName">
        <span>
        <span th:each="c, State : ${lbAuthorList}" th:remove="tag">
            <div th:text="${c.name}" th:remove="tag"></div>
        </span>
        </span>
        <span class="post_subject">[[${lbPost.postSubject}]]</span>
    </div>
    <div class="date"><span th:text="${SocialDate}"></span></div>
    <div class="summary">
        [[${lbPost.description}]]
    </div>
</div>
<div class="articleBox">
    <div class="freeArticleContent">
        <p th:utext="${lbPost.content}"></p>
        <div class="subscribeBox">
            <div class="subscribeBorderTop"></div>
            <div class="subscribeTitle">
                <div class="open_down">
                    <span href="javascript:;" class="exchangecss">打开或下载小鸟App阅读更多</span>
                    <img th:src="${domainPath}+'common/img/bird-logo.png'">
                    <h2 style="text-align: center">它是一本包含小说、非虚构、诗歌、档案等板块的新型文学杂志</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="periodicalBox">
    <div class="periodicalCover">
        <img th:src="${lbPeriodical.imgUrl}">
    </div>
    <div class="periodicalContent">
        <h1>本期作品</h1>
        <h2 th:utext="${lbPeriodical.tinfo}"></h2>
    </div>
</div>
</body>
</html>
