<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>栏目分享</title>
    <link rel="stylesheet" type="text/css" th:href="${domainPath}+'/common/css/style.css'">
</head>
<body style="background: #E6E7E8">
<section class="shareBox">
    <div class="shareColumnHeader">
        <img th:src="${domainPath}+'common/img/logo_black_text.png'" class="shareColumnLogo">
        <h1><span>[[${lbSubject.title}]]</span></h1>
        <h2>[[${lbSubject.introduction}]]</h2>
    </div>
    <div class="shareColumnListBox">
        <div class="topBg"></div>
        <div class="shareColumnListContent">
            <span th:each="c, State : ${lbPostList}" th:remove="tag">

                      <div class="shareColumnList" th:class="${c.showType == 4}? 'shareColumnList notImgBox' : 'shareColumnList' ">
                          <div th:if="${c.isFree == 4}" class="noticeBox">
                            <div class="noticeIcon"></div>
                            <div class="noticeMask"></div>
                        </div>
                        <div>
                            <div class="coverImg" th:style="${c.showType == 4}? '' : 'background-image: url(\''+${c.imgUrl}+'\')'">
<!--                                <img th:if="${c.showType != 4}" th:src="${c.imgUrl}">-->

                            </div>
                            <div class="columnTitleInfo">
                                <div class="columnArticleInfo">
                                    <h1><span th:style="'border-bottom-color:'+${lbCatalog.tcolor}+';'">[[${c.title}]]</span></h1>
                                    <h2>[[${c.getLbAuthorListStr()}]]</h2>
                                </div>
                                <h3>[[${c.periodicalTitle}]] · [[${c.getSocialDateDisplay()}]]更新</h3>
                            </div>
                        </div>
                    </div>


            </span>


<!--            <div class="shareColumnList">-->
<!--                <div class="noticeBox">-->
<!--                    <div class="noticeIcon"></div>-->
<!--                    <div class="noticeMask"></div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="coverImg">-->
<!--                        <img src="https://littlebird-cos-1304137331.cos.ap-shanghai.myqcloud.com/common/img/img2.png">-->
<!--                    </div>-->
<!--                    <div class="columnTitleInfo">-->
<!--                        <div class="columnArticleInfo">-->
<!--                            <h1><span>在萨尔瓦多离世那一年</span></h1>-->
<!--                            <h2>吉井忍</h2>-->
<!--                        </div>-->
<!--                        <h3>卷十一 · 9月28日更新</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="shareColumnList">-->
<!--                <div>-->
<!--                    <div class="coverImg">-->
<!--                        <img src="https://littlebird-cos-1304137331.cos.ap-shanghai.myqcloud.com/common/img/img2.png">-->
<!--                    </div>-->
<!--                    <div class="columnTitleInfo">-->
<!--                        <div class="columnArticleInfo">-->
<!--                            <h1><span>一个南方鱼村里最荡漾的时刻</span></h1>-->
<!--                            <h2>吉井忍</h2>-->
<!--                        </div>-->
<!--                        <h3>卷十一 · 9月28日更新</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
    <div class="shareFooter">
        <div class="shareFooterTop">
            <img th:src="${domainPath}+'common/img/footerBg.png'">
        </div>
        <div class="shareFooterContent">
            <div class="text">识别二维码，阅读小鸟文学</div>
            <div class="code">
                <img th:src="${domainPath}+'common/img/ewm.png'">
            </div>
        </div>
    </div>
</section>
</body>
</html>
