<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>用户协议</title>
    <link rel="stylesheet" type="text/css" href="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/css/style.css">
    <script src="https://littlebird-1251508131.cos.ap-shanghai.myqcloud.com/common/js/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.return').hide();
            var u = navigator.userAgent;
            if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//android
                $('.section-content').on('click',function () {
                    $('.return').toggle();
                    $('.return').on('click',function(event) { //关闭页面
                        window.location.href="aves://finish";
                        //window.location.href="aves://getUserToken";
                    });
                });
            } else {//ios
                $('.return').hide();
            }
        })
    </script>
    <style>
        body{
            padding: 20px;
            background: #E6E7E8;
            margin: 0;
            font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
        }
        h1{
            font-size: 1.2rem;
            color: #3F3E4C;
            text-align: center;
            padding: 10px 0;
        }
        h2{
            font-size: 1rem;
            color: #3F3E4C;
            font-weight: normal;
            line-height: 187.25%;
        }
        h3{
            font-size: 1rem;
            color: #3F3E4C;
            line-height: 187.25%;
            padding: 1rem 0;
        }
    </style>
</head>
<body>
<div class="section-content">
    <h1>《小鸟》用户协议</h1>
    <h2>请阅读以下协议，在本协议的结束处点击“同意”，表示您同意接受本协议并遵守所有条款。</h2>
    <h2>《小鸟》是由上海小乌文化传播有限公司（以下简称“小乌文化”）提供的信息服务。您在完成注册程序后，点击“同意”键并使用《小鸟》，即表示您十三岁以上，同意遵守本协议下的全部条款。您可以打印并保存一份本协议。小乌文化可以对协议条款进行修改。小乌文化将以发送电子邮件，或在网上张贴通知的方式，告知您有关条款的修改。如果您同意遵守更改后的协议，即点击“同意”。如果您不同意协议的修改，您应不再继续使用《小鸟》服务并取消订阅。即使您不点击“同意”，但在收到有关协议的修改通知后仍旧继续使用 《小鸟》服务，您将被视为同意遵守修改后的协议。</h2>
    <h3>1、为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：</h3>
    <h2>不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：</h2>
    <h2>（一）煽动抗拒、破坏宪法和法律、行政法规实施的；</h2>
    <h2>（二）煽动颠覆国家政权，推翻社会主义制度的；</h2>
    <h2>（三）煽动分裂国家、破坏国家统一的；</h2>
    <h2>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</h2>
    <h2>（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</h2>
    <h2>（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；　</h2>
    <h2>（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</h2>
    <h2>（八）损害国家机关信誉的；</h2>
    <h2>（九）其他违反宪法和法律行政法规的；</h2>
    <h2>（十）进行商业广告行为的。</h2>
    <h3>2、订阅政策</h3>
    <h2>欢迎订阅《小鸟》。我们的订阅分为两类：任意三篇文章订阅和全年订阅。小乌文化保留定价权利。对于全年订阅用户，请注意本应用默认从当月开始未来 12 卷的内容，同时，用户可以阅读过往的所有内容。全年用户可以下载PDF版本。请注意，下载、传播或打印本杂志内容应当只以交流传播为目的，不得为此盈利。</h2>
    <h2>请注意，除非在续订前取消，否则用户订阅将自动续订。我们的安全服务器软件会对信息进行加密，保障您的交易安全。如用户不需要继续订阅，请在到期前一个月选择停止订阅。</h2>
    <h2>用户不能提前结束订阅。如因不可抗力原因，内容停止更新，小乌文化将按比例从原付款通道退款给作者。</h2>
    <h3>3、隐私保护条例：</h3>
    <h2>个人信息的隐私保护条例适用您对《小鸟》的访问和浏览，请参阅《隐私保护条例》，以了解我们如何收集并使用您的有关信息。</h2>
    <h3>4、版权及使用限制：</h3>
    <h2>《小鸟》的内容为小乌文化以及其内容许可人所有，受版权法和其它知识产权法保护。从《小鸟》获取的内容仅可为个人或非商业性使用而进行展示、重新格式化、打印。您在此同意，非经小乌文化事先书面许可，您将不通过翻印、转载、转发、传播、出卖、出版、广播或传看等手段向任何人，包括但不限于，向同一公司、同一机构的其他人发送 《小鸟》内容。除非有以下例外：</h2>
    <h2>出于非商业目的，以不收费、非电子传送方式，您可以偶尔、非经常性地向少数个人发送《小鸟》的少量内容。该内容必须与《小鸟》的格式一致，包含有版权和著作权标记，同时必须标明内容原始出处，和注明“由《小鸟》许可引用”字样。</h2>
    <h2>未经小乌文化预先书面许可，您不能将《小鸟》的内容张贴到新闻组、邮件通讯录或电子公告板上。</h2>
    <h2>《小鸟》含括其认为有意义的有关个人及机构的事实、观点、见解和建议。小乌文化及其内容许可者不保证其内容的准确、完整和及时性，亦不表明小乌文化及其内容许可者支持这些观点、见解和建议。</h2>
    <h3>5、申明、保证和义务：</h3>
    <h2>在您的密码使用过程中，您将对一切陈述、行为、遗漏承担责任。您不能为非法目的使用《小鸟》。小乌文化将拒绝授予您为假冒他人之目的而使用的用户名或使用受商标权和其他权利保护的用户名。您在申请用户时不能使用带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。</h2>
    <h2>本协议仅针对您个人，您不可以将您的权利和义务转让给任何人。如果在现行法律条文中，本协议的某些条款无效或无法执行，其余条款将继续有效。</h2>
</div>
<div class="footerOperation">
    <div class="footerOperationContent">
        <i class="return"></i>
    </div>
</div>
</body>
</html>
