html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, img, small, strong, sub, sup, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body{
    font-family: "Arial", Gadget, sans-serif;
}
a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: none;
    outline: none
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: disc;
}

input[type=button], input[type=text], input[type=password], button, textarea {
    -webkit-appearance: none;
    outline: none
}

.imgBox{
    overflow: hidden;
    display: block;
    width: 100%;
}
.imgBox img{
    width: 100%;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.articleHead{
    padding: 20px 20px 10px 20px;
    text-align: right;
}
.articleClass{
    padding-bottom: 10px;
}
.articleClass span{
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: bold;
}
.articleTitle{
    font-weight: bold;
    font-size: 28px;
}
.authorName{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
.authorName span:first-child{
    border-right: 2px solid #3F3E4C;
    margin-right:8px;
    padding-right: 8px;
}
.articleHead .date{
    font-size: 14px;
}
.summary{
    padding: 10px;
    font-size: 14px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 200%;
}
.articleBox{
}
.articleBox.large p{
    font-size: 18px;
    line-height: 34px;
}
.articleBox.middle p{
    font-size: 16px;
    line-height: 30px;
}
.articleBox.small p{
    font-size: 14px;
    line-height: 26px;
}
.freeArticleContent p,.articleContent p{
    padding: 18px 20px 0 20px;
    font-weight: lighter;
}
.articleContent p:last-child{
    padding-bottom: 30px;
}
.articleBox img{
    width: 100%;
    display: block;
}
.articleContent{
    overflow: hidden;
}
.articleBox h1{
    margin-top: 70px;
    font-size: 42px;
    font-weight: normal;
    text-align: right;
    padding: 0 20px;
}
.articleBox h2{
    font-size: 20px;
    font-weight: normal;
    text-align: right;
    padding:12px 20px;
}
.subscribeBox{
    overflow: hidden;
    margin-top: -9rem;
    z-index: 99;
    position: relative;
}
.subscribeBorderTop{
    height: 5rem;
}
.subscribeTitle{
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.subscribeTitle h1{
    font-size: 14px!important;
    font-weight: bold;
    margin: 20px 0;
}
.subscribeTitle h2{
    font-size: 14px!important;
    font-weight: 300;
}
.subscribeTitle .exchangecss{
    color: #D7A03C;
    font-size: 16px;
    margin: 20px 0;
    line-height: 22px;
    display: inline-block;
    border: 0;
    background: none;
    outline: none;
}
.subscribeTitle img{
    width: 30% !important;
    display: block;
    margin: 0 auto;
}
.subscribeContent{
    overflow: hidden;
}
.showInfo{
    overflow: hidden;
}
.showInfo img{
    display: block;
    width: 32%;
    margin: 30px auto;
}
.showInfo h1{
    color: #fff!important;
    font-size: 14px;
    margin: 0 0 20px 0!important;
    text-align: center;
    line-height: 25px;
}
.subscribeBox .priceInfo{
    color: #fff;
    font-size: 14px;
    border-top: 1px solid #3a3a3a;
    border-bottom:1px dashed #3a3a3a;
    padding: 20px 0;
    margin: 0 20px;
}
.subscribeBox .priceInfo .priceInfoTitle{
    color: #fff;
    height: 30px;
}
.subscribeBox .priceInfo .priceInfoList{
    overflow: hidden;
}
.subscribeBox .priceInfo .priceInfoList div{
    background: #2b2924;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 48%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.subscribeBox .priceInfo .priceInfoList div:first-child{
    margin-right: 4%;
}
.subscribeBox .priceInfo .priceInfoList div h1{
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    margin: 0;
    text-align: left;
    padding: 0;
}
.subscribeBox .priceInfo .priceInfoList div h2{
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    margin: 0;
    text-align: left;
    padding: 0;
}
.subscribeBox .priceInfo .priceInfoList div h2 span{
    display: inline-block;
    color: #747474;
}
.subscribeBox .priceInfo .priceInfoList div h2 span:first-child{
    font-weight: 500;
    color: #d59f3c;
    padding-right: 5px;
}
.subscribeBox .priceInfo .priceInfoList div h2 span:last-child{
    text-align: right;
    width: 40%;
    float: right;
    color: #d59f3c;
}

.subscribeBox .subscribeText{
    line-height: 187.5%;
    font-size: 12px;
    padding: 20px;
}
.authorBox{
    overflow: hidden;
    padding: 25px 20px;
    position: relative;
}
.authorInfo{
    width: 40%;
    padding: 0 5%;
}
.authorInfo h1{
    font-size: 16px
}
.authorInfo h2{
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 10px;
}
.authorBox.left .authorInfo{
    float: left;
}
.authorBox.left .authorInfo h1,.authorBox.left .authorInfo h2{
    text-align: right;
}
.authorBox.right .authorInfo{
    float: right;
}
.authorBox.right .authorInfo h1,.authorBox.right .authorInfo h2{
    text-align: left;
}
.authorPhoto{
    width: 50%;
    float: left;
}
.authorPhoto img{
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.periodicalBox{
    overflow: hidden;
}
.periodicalCover{
    overflow: hidden;
}
.periodicalCover img{
    width: 100%;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}
.periodicalContent{
    overflow: hidden;
    padding: 20px;
    text-align: right;
    margin-top: 16px;
    line-height: 20px;
    font-weight: lighter;
}
.periodicalContent h1{
    font-size: 14px;
    font-weight: normal;
}
.periodicalContent h2{
    font-size: 12px;
    font-weight: lighter;
}
.periodicalContent h2 strong{
    font-weight: normal;
}
.footerOperation{
    position: fixed;
    bottom: 5vh;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);
    overflow-y: scroll;
}
.footerOperationContent{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footerOperationContent i{
    display: inline-block;
    width: 10vw;
    height: 10vw;
}
.footerOperationContent i.return{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/return-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent i.collect{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/collect-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent i.collect-on{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/collect-on.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent i.link{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/share-icon.png") no-repeat;
    background-size: 100% 100%;
}
.footerOperationContent i.top{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/top-icon.png") no-repeat;
    background-size: 100% 100%;
}

.day_mode{
    color: #3F3E4C;
    background: #FFFFFF;
}
.day_mode .summary{
    background:rgba(229, 230, 231, 0.2);
}
.day_mode .subscribeBorderTop{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,1));
}
.day_mode .subscribeTitle{
    background: #ffffff;
}
.day_mode .subscribeContent{
    background: #222222;
}
.day_mode .subscribeTitle h1{
    color: #3F3E4C;
}
.day_mode .subscribeTitle h2{
    color: #3F3E4C;
}
.day_mode .articleBox h1{
    color: #3F3E4C;
}
.day_mode .articleBox h2{
    color: #3F3E4C;
}
.day_mode .authorBoxList{
    background:#E5E6E7;
}
.day_mode .authorInfo h1{
    color: #303042;
}
.day_mode .authorInfo h2{
    color: #303042;
}
.day_mode .articleBox a{
    color: #3F3E4C;
    border-bottom: 1px solid #D7A03C;
    text-decoration: none!important;
}

.night_mode{
    color: #DBDBDB;
    background: #222222;
}
.night_mode .summary{
    background:rgba(229, 230, 231, 0.05);
}
.night_mode pre.ql-syntax{
    background:url('https://littlebird-cos-1304137331.file.myqcloud.com/common/img/summary_icon_night.png') no-repeat 20px 20px rgba(229, 230, 231, 0.05);
    background-size: 10%;
}
.night_mode .articleBox ul{
    background:url('https://littlebird-cos-1304137331.file.myqcloud.com/common/img/article-line-night.png') no-repeat right+19px top rgba(229, 230, 231, 0.05);
}
.night_mode .subscribeBorderTop{
    background-image: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,1));
}
.night_mode .subscribeTitle{
    background: #222222;
}
.night_mode .subscribeContent{
    background: #363738;
}
.night_mode .subscribeTitle h1{
    color: #ffffff;
}
.night_mode .subscribeTitle h2{
    color: #DBDBDB;
}
.night_mode .articleBox h1{
    color: #DBDBDB;
}
.night_mode .articleBox h2{
    color: #DBDBDB;
}
.night_mode .authorBoxList{
    background:rgba(229, 230, 231, 0.2);
}
.night_mode .authorInfo h1{
    color: #DBDBDB;
}
.night_mode .authorInfo h2{
    color: #DBDBDB;
}
.night_mode .subscribeText{
    color: #757575;
}
.night_mode .articleBox a{
    color: #DBDBDB;
    text-decoration: none!important;
    border-bottom: 1px solid #D7A03C;
}
.night_mode .columnBox{
    background:rgba(229, 230, 231, 0.2);
}
.night_mode .columnBox h1{
    border-top: 1px solid rgba(255,255,255,0.1);
    color: #DBDBDB;
}
.night_mode .columnBox h2{
    color: #DBDBDB;
}
.night_mode .priceInfo{
    border-top: 1px solid #3F3E4C;
    border-bottom: 1px dashed #3F3E4C;
}
.night_mode .subscribeBox .priceInfo .priceInfoList div{
    background: rgba(215, 160, 60, 0.05);
}
pre.ql-syntax{
    background:url('https://littlebird-cos-1304137331.file.myqcloud.com/common/img/summary_icon.png') no-repeat 20px 20px rgba(229, 230, 231, 0.2);
    background-size: 10%;
    min-height: 10%;
    text-align: right;
    padding:30px 19px 20px 20%;
    font-size:18px;
    font-weight: 400;
    margin: 0;
    white-space: pre-wrap!important;
    line-height: 32px;
}
.articleBox ol{
    list-style-type: none!important;
    padding: 10px 20px;
}
.articleBox ol li{
    color: #767676!important;
    font-size: 12px!important;
    font-weight: lighter!important;
    line-height: 20px!important;
    text-align: right;
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none!important;
}
.articleBox ol li::before{
    display: none!important;
}
.articleBox ul{
    list-style-type: none!important;
    padding:10px 19px 30px 10px;
    background:url('https://littlebird-cos-1304137331.file.myqcloud.com/common/img/article-line-day.png') no-repeat right+19px top rgba(229, 230, 231, 0.2);
}
.articleBox ul li{
    color: #767676!important;
    font-size: 12px!important;
    font-weight: 300!important;
    line-height: 17px!important;
    text-align: right;
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none!important;
}
.articleBox ul li::before{
    display: none!important;
}
.articleBox .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 3em;
}
.articleBox .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 6em;
}
.articleBox .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 9em;
}
.articleBox .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 12em;
}
.articleBox .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 15em;
}
.articleBox .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 18em;
}
.articleBox .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 21em;
}
.articleBox .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 0!important;
    text-indent: 24em;
}
.articleBox .ql-align-center {
    text-align: center;
}
.articleBox .ql-align-right {
    text-align: right;
}
.articleBox .ql-align-justify {
    text-align: justify;
}
.authorShareBox{
    padding: 30px 20px;
    overflow: hidden;
}
.columnBox{
    overflow: hidden;
    background: #E5E6E7;
}
.columnBox h1{
    margin: 0 20px;
    border-top: 1px solid #D1D0D0;
    color: #303042;
    font-weight: bold;
    font-size: 16px;
    padding-top: 30px;
}
.columnBox h1 span{
    line-height: 24px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.columnBox h2{
    font-size: 14px;
    font-weight: 300;
    color: #3F3E4C;
    line-height: 24px;
    padding: 10px 20px 30px 20px;
}

.shareAuthorHeader h1{
    margin-top: 10px;
    color: #3F3E4C;
    font-size: 24px;
    font-weight: bold;
}
.shareAuthorHeader h2{
    margin-top: 20px;
    color: #3F3E4C;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
}
.shareAuthorBox{
    overflow: hidden;
    padding-top: 20px;
}
.shareAuthorInfo{
    overflow: hidden;
    float: left;
    width: 60%;
    padding-right: 20px;
    box-sizing: border-box;
}
.shareAuthorImg{
    float: left;
    width:40%;
}
.shareAuthorImg img{
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
.shareAuthorHeader, .shareColumnHeader{
    background: #FAFAFA;
    overflow: hidden;
    padding: 5vw 0 8vw 5vw;
}
.shareColumnLogo{
    width: 16.8%;
    display: inline-block;
}
.shareColumnHeader h1{
    margin-top: 30px;
    color: #3F3E4C;
    font-size: 24px;
    font-weight: 500;
}
.shareColumnHeader h1 span{
    border-bottom: 2px solid #D7A03C;
}
.shareColumnHeader h2{
    margin-top: 20px;
    color: #3F3E4C;
    font-size: 14px;
    font-weight: lighter;
}
.shareColumnListBox{
    overflow: hidden;
    position: relative;
    padding-bottom: 34vw;
}
.shareColumnListBox .topBg{
    background: #FAFAFA;
    height: 33px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
.shareColumnListContent{
    overflow: hidden;
    padding: 0 5vw;
}
.shareColumnListBox .shareColumnList{
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #F5F5F5;
    position: relative;
    margin-bottom: 20px;
    height: 34.6vw;
}
.shareColumnListBox .shareColumnList.notImgBox{
    background: #418F9B;
}
.shareColumnListBox .shareColumnList.notImgBox .columnTitleInfo h1,
.shareColumnListBox .shareColumnList.notImgBox .columnTitleInfo h2,
.shareColumnListBox .shareColumnList.notImgBox .columnTitleInfo h3{
    color: #fff;
}
.shareColumnListBox .shareColumnList.notImgBox .columnTitleInfo h1 span{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.shareColumnListBox .shareColumnList .coverImg{
    float: left;
    width: 40vw;
    height: 34.6vw;
}
.shareColumnListBox .shareColumnList .coverImg img{
    width: 100%;
    display: block;
}
.shareColumnListBox .shareColumnList .columnTitleInfo{
    float: left;
    width: 50vw;
    box-sizing: border-box;
    text-align: right;
}
@media screen and (min-width: 375px) {
    .shareColumnListBox .shareColumnList .columnTitleInfo {
        padding: 20px 20px 10px 20px;
    }
}
@media screen and (max-width: 375px) {
    .shareColumnListBox .shareColumnList .columnTitleInfo {
        padding: 20px 20px 10px 20px;
    }
}
@media screen and (max-width: 320px) {
    .shareColumnListBox .shareColumnList .columnTitleInfo {
        padding: 10px;
    }
}
.shareColumnListBox .shareColumnList .columnTitleInfo .columnArticleInfo{
    height: 22vw;
    overflow: hidden;
}
.shareColumnListBox .shareColumnList .columnTitleInfo h1{
    color: #3F3E4C;
    font-size: 14px;
    font-weight: 600;
    max-height: 51px;
    overflow: hidden;
}
.shareColumnListBox .shareColumnList .columnArticleInfo h1 span{
    border-bottom: 1px solid #D7A03C;
    padding: 5px 0;
    line-height: 20px;
    display: inline-block;
}
.shareColumnListBox .shareColumnList .columnTitleInfo h2{
    color: #3F3E4C;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
}
.shareColumnListBox .shareColumnList .columnTitleInfo h3{
    color: #3F3E4C;
    font-size: 12px;
    font-weight: lighter;
}
.noticeBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34.6vw;
    z-index: 99;
}
.noticeBox .noticeIcon{
    background: url("https://littlebird-cos-1304137331.file.myqcloud.com/common/img/notice-icon.png") no-repeat;
    background-size:cover;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10vw;
    height: 10vw;
    z-index: 2;
}
.noticeBox .noticeMask{
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34.6vw;
}
.coverNotImg{
    overflow: hidden;
    position: relative;
    height: 34.6vw;
}
.coverNotImg em{
    position: absolute;
    height: 1px;
    width: 90%;
    background: rgba(255,255,255,0.1);
    left: 0;
    bottom: 40px;
    z-index: 1;
}
.coverNotImg i{
    position: absolute;
    height: 1px;
    width: 20%;
    border-top:1px dashed rgba(255,255,255,0.1);
    left: 0;
    bottom: 16px;
    z-index: 1;
}
.shareFooter{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.shareFooterTop{
    width: 100%;
}
.shareFooterTop img{
    width: 100%;
    display: block;
}
.shareFooterContent{
    background: #222222;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 30vw;
    padding: 25px 20px 25px 30px;
    box-sizing: border-box;
}
.shareFooterContent .text{
    font-size: 12px;
    font-weight: lighter;
    width: 80%;
    display: block;
    float: left;
}
.shareFooterContent .code{
    width: 20%;
    float: left;
}
.shareFooterContent .code img{
    width: 100%;
    display: block;
    float: right;
}
